@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
 
@font-face  {
font-family:'Android';
src: url('../) format('opentype');
font-weight: normal;}

 :root {
    --cor0: #54CF35;
    --cor1: #59A546;
    --cor3: #43FA17;
    --cor4: #527A48;
    --cor5: #40503C;
    --cor6: #2E332D;

    --font-padrao: arial, verdana, helvetica, sans-serif;
    --font-destaque:'bebas neue' ;
    --font-android: 'android', 
 }
body {
    background-color: var(--cor0);
    font-family:var(--font-padrao);
}
header > h1 {
    color: var(--cor6);
    font-family:var(--font-destaque);
}
main > h2 {
    font-family: var(--font-android);
}